# Data Cleaning

In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in the CSV file
df = pd.read_csv("raw_data/Electric_Vehicle_Population_Data.csv")
print(df.info())
df.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181458 entries, 0 to 181457
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         181458 non-null  object
 1   County                                             181455 non-null  object
 2   City                                               181455 non-null  object
 3   State                                              181458 non-null  object
 4   Postal Code                                        181455 non-null  float64
 5   Model Year                                         181458 non-null  int64
 6   Make                                               181458 non-null  object
 7   Model                                              181458 non-null  object
 8   Electric Vehicle Type                              181458 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  181458 non-null  object
 10  Electric Range                                     181458 non-null  int64
 11  Base MSRP                                          181458 non-null  int64
 12  Legislative District                               181060 non-null  float64
 13  DOL Vehicle ID                                     181458 non-null  int64
 14  Vehicle Location                                   181450 non-null  object
 15  Electric Utility                                   181455 non-null  object
 16  2020 Census Tract                                  181455 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 23.5+ MB
None

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,WAUTPBFF4H,King,Seattle,WA,98126.0,2017,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,0,34.0,235085336,POINT (-122.374105 47.54468),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10

In [3]:
# Drop rows with missing location data
df = df.dropna(subset=["Vehicle Location"]).reset_index(drop=True)

# We can ignore Legistlative District and DOL Vehicle ID for now

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181450 entries, 0 to 181449
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         181450 non-null  object
 1   County                                             181450 non-null  object
 2   City                                               181450 non-null  object
 3   State                                              181450 non-null  object
 4   Postal Code                                        181450 non-null  float64
 5   Model Year                                         181450 non-null  int64
 6   Make                                               181450 non-null  object
 7   Model                                              181450 non-null  object
 8   Electric Vehicle Type                              181450 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  181450 non-null  object
 10  Electric Range                                     181450 non-null  int64
 11  Base MSRP                                          181450 non-null  int64
 12  Legislative District                               181055 non-null  float64
 13  DOL Vehicle ID                                     181450 non-null  int64
 14  Vehicle Location                                   181450 non-null  object
 15  Electric Utility                                   181450 non-null  object
 16  2020 Census Tract                                  181450 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 23.5+ MB

In [4]:
# Keep only the vehicles in Washington
df = df[df["State"] == "WA"]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181055 entries, 0 to 181449
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         181055 non-null  object
 1   County                                             181055 non-null  object
 2   City                                               181055 non-null  object
 3   State                                              181055 non-null  object
 4   Postal Code                                        181055 non-null  float64
 5   Model Year                                         181055 non-null  int64
 6   Make                                               181055 non-null  object
 7   Model                                              181055 non-null  object
 8   Electric Vehicle Type                              181055 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  181055 non-null  object
 10  Electric Range                                     181055 non-null  int64
 11  Base MSRP                                          181055 non-null  int64
 12  Legislative District                               181055 non-null  float64
 13  DOL Vehicle ID                                     181055 non-null  int64
 14  Vehicle Location                                   181055 non-null  object
 15  Electric Utility                                   181055 non-null  object
 16  2020 Census Tract                                  181055 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 24.9+ MB

In [5]:
# Remove the "POINT(" and ")" from the "Vehicle Location" column
df["Vehicle Location"] = df["Vehicle Location"].str.strip("POINT( )")
df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,WAUTPBFF4H,King,Seattle,WA,98126.0,2017,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,0,34.0,235085336,-122.374105 47.54468,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
1,WAUUPBFF2J,Thurston,Olympia,WA,98502.0,2018,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,0,22.0,237896795,-122.943445 47.059252,PUGET SOUND ENERGY INC,5.306701e+10
2,5YJSA1E22H,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,22.0,154498865,-122.78083 47.083975,PUGET SOUND ENERGY INC,5.306701e+10
3,1C4JJXP62M,Thurston,Tenino,WA,98589.0,2021,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,0,20.0,154525493,-122.85403 46.856085,PUGET SOUND ENERGY INC,5.306701e+10
4,5YJ3E1EC9L,Yakima,Yakima,WA,98902.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,308,0,14.0,225996361,-120.524012 46.5973939,PACIFICORP,5.307700e+10

In [6]:
# Split the "Vehicle Location" column into two separate columns: "Longitude" and "Latitude"
df["Longitude"] = df["Vehicle Location"].str.split(" ", expand=True)[0]
df["Latitude"] = df["Vehicle Location"].str.split(" ", expand=True)[1]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181055 entries, 0 to 181449
Data columns (total 19 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         181055 non-null  object
 1   County                                             181055 non-null  object
 2   City                                               181055 non-null  object
 3   State                                              181055 non-null  object
 4   Postal Code                                        181055 non-null  float64
 5   Model Year                                         181055 non-null  int64
 6   Make                                               181055 non-null  object
 7   Model                                              181055 non-null  object
 8   Electric Vehicle Type                              181055 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  181055 non-null  object
 10  Electric Range                                     181055 non-null  int64
 11  Base MSRP                                          181055 non-null  int64
 12  Legislative District                               181055 non-null  float64
 13  DOL Vehicle ID                                     181055 non-null  int64
 14  Vehicle Location                                   181055 non-null  object
 15  Electric Utility                                   181055 non-null  object
 16  2020 Census Tract                                  181055 non-null  float64
 17  Longitude                                          181055 non-null  object
 18  Latitude                                           181055 non-null  object
dtypes: float64(3), int64(4), object(12)
memory usage: 27.6+ MB

In [7]:
# Convert the "Longitude" and "Latitude" columns to floats and "Postal Code" to an integer
df["Longitude"] = df.loc[:,"Longitude"].astype(float)
df["Latitude"] = df.loc[:,"Latitude"].astype(float)
df["Postal Code"] = df.loc[:,"Postal Code"].astype(int)

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 181055 entries, 0 to 181449
Data columns (total 19 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         181055 non-null  object
 1   County                                             181055 non-null  object
 2   City                                               181055 non-null  object
 3   State                                              181055 non-null  object
 4   Postal Code                                        181055 non-null  int64
 5   Model Year                                         181055 non-null  int64
 6   Make                                               181055 non-null  object
 7   Model                                              181055 non-null  object
 8   Electric Vehicle Type                              181055 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  181055 non-null  object
 10  Electric Range                                     181055 non-null  int64
 11  Base MSRP                                          181055 non-null  int64
 12  Legislative District                               181055 non-null  float64
 13  DOL Vehicle ID                                     181055 non-null  int64
 14  Vehicle Location                                   181055 non-null  object
 15  Electric Utility                                   181055 non-null  object
 16  2020 Census Tract                                  181055 non-null  float64
 17  Longitude                                          181055 non-null  float64
 18  Latitude                                           181055 non-null  float64
dtypes: float64(4), int64(5), object(10)
memory usage: 27.6+ MB
None

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract,Longitude,Latitude
0,WAUTPBFF4H,King,Seattle,WA,98126,2017,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,0,34.0,235085336,-122.374105 47.54468,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10,-122.374105,47.544680
1,WAUUPBFF2J,Thurston,Olympia,WA,98502,2018,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,0,22.0,237896795,-122.943445 47.059252,PUGET SOUND ENERGY INC,5.306701e+10,-122.943445,47.059252
2,5YJSA1E22H,Thurston,Lacey,WA,98516,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,22.0,154498865,-122.78083 47.083975,PUGET SOUND ENERGY INC,5.306701e+10,-122.780830,47.083975
3,1C4JJXP62M,Thurston,Tenino,WA,98589,2021,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,0,20.0,154525493,-122.85403 46.856085,PUGET SOUND ENERGY INC,5.306701e+10,-122.854030,46.856085
4,5YJ3E1EC9L,Yakima,Yakima,WA,98902,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,308,0,14.0,225996361,-120.524012 46.5973939,PACIFICORP,5.307700e+10,-120.524012,46.597394

In [8]:
# Use only the columns that are relevant to the analysis
df = df[["VIN (1-10)", 
         "County", 
         "City", 
         "State",
         "Postal Code", 
         "Model Year", 
         "Make", 
         "Model", 
         "Electric Vehicle Type",
         "Electric Range",
         "Latitude",
         "Longitude"]]

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 181055 entries, 0 to 181449
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VIN (1-10)             181055 non-null  object
 1   County                 181055 non-null  object
 2   City                   181055 non-null  object
 3   State                  181055 non-null  object
 4   Postal Code            181055 non-null  int64
 5   Model Year             181055 non-null  int64
 6   Make                   181055 non-null  object
 7   Model                  181055 non-null  object
 8   Electric Vehicle Type  181055 non-null  object
 9   Electric Range         181055 non-null  int64
 10  Latitude               181055 non-null  float64
 11  Longitude              181055 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 18.0+ MB
None

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Electric Range,Latitude,Longitude
0,WAUTPBFF4H,King,Seattle,WA,98126,2017,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),16,47.544680,-122.374105
1,WAUUPBFF2J,Thurston,Olympia,WA,98502,2018,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),16,47.059252,-122.943445
2,5YJSA1E22H,Thurston,Lacey,WA,98516,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),210,47.083975,-122.780830
3,1C4JJXP62M,Thurston,Tenino,WA,98589,2021,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),25,46.856085,-122.854030
4,5YJ3E1EC9L,Yakima,Yakima,WA,98902,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),308,46.597394,-120.524012

In [9]:
# Drop duplicate rows based on the "VIN (1-10)" column
df.drop_duplicates(subset="VIN (1-10)", keep="first")

df = df.set_index("VIN (1-10)")

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 181055 entries, WAUTPBFF4H to 5YJSA1E27F
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   County                 181055 non-null  object
 1   City                   181055 non-null  object
 2   State                  181055 non-null  object
 3   Postal Code            181055 non-null  int64
 4   Model Year             181055 non-null  int64
 5   Make                   181055 non-null  object
 6   Model                  181055 non-null  object
 7   Electric Vehicle Type  181055 non-null  object
 8   Electric Range         181055 non-null  int64
 9   Latitude               181055 non-null  float64
 10  Longitude              181055 non-null  float64
dtypes: float64(2), int64(3), object(6)
memory usage: 16.6+ MB
None

,County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Electric Range,Latitude,Longitude
VIN (1-10),,,,,,,,,,,
WAUTPBFF4H,King,Seattle,WA,98126,2017,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),16,47.544680,-122.374105
WAUUPBFF2J,Thurston,Olympia,WA,98502,2018,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),16,47.059252,-122.943445
5YJSA1E22H,Thurston,Lacey,WA,98516,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),210,47.083975,-122.780830
1C4JJXP62M,Thurston,Tenino,WA,98589,2021,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),25,46.856085,-122.854030
5YJ3E1EC9L,Yakima,Yakima,WA,98902,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),308,46.597394,-120.524012

In [10]:
# save a copy for demographics analysis
df.to_csv("full_vehicle_data.csv", index=True, header=True)

In [11]:
# Drop vehicles with electric range of 0
df = df[df["Electric Range"] > 0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86489 entries, WAUTPBFF4H to 5YJSA1E27F
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   County                 86489 non-null  object
 1   City                   86489 non-null  object
 2   State                  86489 non-null  object
 3   Postal Code            86489 non-null  int64
 4   Model Year             86489 non-null  int64
 5   Make                   86489 non-null  object
 6   Model                  86489 non-null  object
 7   Electric Vehicle Type  86489 non-null  object
 8   Electric Range         86489 non-null  int64
 9   Latitude               86489 non-null  float64
 10  Longitude              86489 non-null  float64
dtypes: float64(2), int64(3), object(6)
memory usage: 7.9+ MB

In [12]:
# Save the cleaned data to a new CSV file
df.to_csv("range_cleaned_vehicle_data.csv", index=True, header=True)